body {
    text-align: center; 
    background: #808FFF; 
}

#game-grid {
    width: 70%;
    margin: 0 auto; 
}

.square {
    height: 65px;
    width: 65px; 
    border: 1px solid black; 
    float: left; 
}