body {
    text-align: center; 
    background: #347D1D; 
}

#game-grid {
    width: 82%;
    margin: 0 auto; 
}

.square {
    height: 90px;
    width: 90px; 
    border: 1px solid black; 
    float: left; 
}

img.new-value {
    height: 90px;
    width: 90px; 
}

ul {
    list-style: none; 
    padding: 0; 
}
